//BKUPDBRM JOB 'COPY DBRM',                    
//   NOTIFY=&SYSUID,CLASS=A,MSGCLASS=H         
//COPYLOAD EXEC PGM=IEBCOPY,REGION=4M          
//*MAIN SYSTEM=JLOCAL,LINES=99                 
//SYSPRINT DD SYSOUT=*                         
//SYSUT1 DD DSN={{ dbrm_tgt }},     
//       DISP=SHR                              
//SYSUT2 DD DSN={{ dbrm_bkp }},      
//       DISP=SHR                              
//SYSUT3   DD UNIT=VIO,SPACE=(CYL,(10))        
//SYSUT4   DD UNIT=VIO,SPACE=(CYL,(10))        
//SYSIN    DD *                                
  COPYMOD INDD=SYSUT1,OUTDD=SYSUT2,MAXBLK=32760
{% for dbrm in dbrms %}
  SELECT M=(({{ dbrm }},,R))    
{% endfor %}                   
/*                                             
