//COPYLOAD JOB 'COPY LOAD',                    
//   NOTIFY=&SYSUID,CLASS=A,MSGCLASS=H         
//COPYLOAD EXEC PGM=IEBCOPY,REGION=4M          
//*MAIN SYSTEM=JLOCAL,LINES=99                 
//SYSPRINT DD SYSOUT=*                         
//SYSUT1 DD DSN={{ load_src }},     
//       DISP=SHR                              
//SYSUT2 DD DSN={{ load_tgt }},      
//       DISP=SHR                              
//SYSUT3   DD UNIT=VIO,SPACE=(CYL,(10))        
//SYSUT4   DD UNIT=VIO,SPACE=(CYL,(10))        
//SYSIN    DD *                                
  COPYMOD INDD=SYSUT1,OUTDD=SYSUT2,MAXBLK=32760
{% for load_mem in load_mems %}
  SELECT M=(({{ load_mem }},,R))    
{% endfor %}                   
/*                                             
